NAT 类型检测逻辑有误

### **Describe the bug**
根据 [Netmanias 对于 RFC 3489 与 STUN (RFC 5389/5780) 的对比解读](https://netmanias.com/en/post/techdocs/6065/nat-network-protocol/stun-rfc-3489-vs-stun-rfc-5389-5780)，NAT 类型对应关系如下（绿色为 Mapping Behavior，蓝色为 Filtering Behavior）：
![image](https://user-images.githubusercontent.com/17808640/105626669-1400ae80-5e6c-11eb-8696-a70fe954a11d.png)
Netch 在检测 NAT 类型时采用了 **RFC 5780** 规范，最终显示结果遵循 **RFC 3489** 规范，但没有正确对应两种规范的 NAT 类型。
举例见 Log 章节。

### **To Reproduce**
Steps to reproduce the behavior:

1. Open Netch
2. Connect to a Server with non-standard RFC 3489 NAT type
3. See the NAT Type Indicator at right bottom corner

### **Log**
**Example 1**
>Other address is (hidden)
Binding test: Success
Local address: (hidden)
Mapped address: (hidden)
Nat mapping behavior: EndpointIndependent
Nat filtering behavior: AddressAndPortDependent
result: 4

参照上图，此处的 NAT 类型应为 3，即 Port-Restricted Cone NAT (RFC 3489)，而 Netch 报告为 4.

**Example 2**
>Other address is (hidden)
Binding test: Success
Local address: (hidden)
Mapped address: (hidden)
Nat mapping behavior: AddressAndPortDependent
Nat filtering behavior: EndpointIndependent
result: 2

参照上图，此处的 NAT 类型并不能在 RFC 3489 规范中找到正确对应，而 Netch 报告为 2.

**Screenshots**
Not Needed.

**Environment (please complete the following information):**
- OS: **Windows 10 Enterprise LTSC 2019 (1809)**
- Netch Version: **1.7.2**

**Additional context**
(Empty)

此外，同一个 VMess 服务器（启用 UDP / 加密模式自动 / WebSocket），若通过 Clash for Windows v0.13.7 代理 + Netch 连接 Clash 的本地 Socks 5 服务器，可获得 FullCone NAT (RFC 3489) / Mapping: EndpointIndependent & Filtering: EndpointIndependent (RFC 5780) 的 NAT 类型；但通过 Netch 直接连接 VMess，则只能获得 Mapping: AddressAndPortDependent & Filtering: EndpointIndependent (RFC 5780) 的 NAT 类型。
请问 Netch 是否也可实现 VMess FullCone NAT？
请注意，根据 Issue #479 以及 VMess 作者已明确指出 VMess 并不会支持原生 UDP，不排除检测出错的可能性。

这是 v2ray-core 的问题

> 
> 
> 这是 v2ray-core 的问题

其实是 Clash VMess 实现和 Netch 检测方式的问题，过几天我会出篇文章详解这些代理协议的 UDP

> 这是 v2ray-core 的问题

在 Example 1 中，Netch 连接到的是正确启用 UDP 的 Shadowsocks-Python 服务端（同时也测试过 XRay 的 Shadowsocks AEAD 服务端），应与 V2Ray 无关。

1. 5780 和 3489 只能近似对应
2. NAT 类型的数字 RFC 并没有规定，完全是自定义，不存在什么“有误”

Example 1
```
Other address is (hidden)
Binding test: Success
Local address: (hidden)
Mapped address: (hidden)
Nat mapping behavior: EndpointIndependent
Nat filtering behavior: AddressAndPortDependent
result: 4
```
此类型应该为3（Port-Restricted Cone NAT）， 非Symmetric NAT。

没有 RFC 规定，所谓的 NAT 数字完全就是软件自定义行为。

4 也不代表 Symmetric，甚至可以完全把 12 定义成 Fullcone